<div class="container margin-0 border">
  <div class="row">
    <header
      id="header"
      class="col-12 py-4 text-white"
      style="background-color: #153d77"
    >
      Welcome Back {{ user }}
    </header>
  </div>
</div>

<section id="calendar" class="col-12 border">
  <div class="row">
    <section class="col-6 border">
      <app-calendario></app-calendario>
    </section>
    <section class="col-6 border">
      <app-grafica></app-grafica>
    </section>
  </div>
</section>

<app-balance></app-balance>


